html{
  text-align: center;
}
#playerpicture{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-image: url('');
}
#computerpicture{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-image: url('');
}
.RockButton{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-image: url('img/rock.png');
}
.PaperButton{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-image: url('img/paper.png');
}
.ScissorsButton{
  width: 50px;
  height: 50px;
  display: inline-block;
  background-size: cover;
  background-image: url('img/scissors.png');
}
